In [35]:
import pandas as pd
import os
import datetime

LOCAL_DATASET_PATH = "../data/input_datasets"

In [36]:
# Take just a subset of the data for now (year==2008)
data = pd.read_csv('../data/household_power_consumption.txt', sep=';', na_values='?')
data = data[data.Date.str.endswith('2008')]
data.columns = data.columns.str.lower()
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 527040 entries, 547596 to 1074635
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   date                   527040 non-null  object
 1   time                   527040 non-null  object
 2   global_active_power    526905 non-null  float64
 3   global_reactive_power  526905 non-null  float64
 4   voltage                526905 non-null  float64
 5   global_intensity       526905 non-null  float64
 6   sub_metering_1         526905 non-null  float64
 7   sub_metering_2         526905 non-null  float64
 8   sub_metering_3         526905 non-null  float64
dtypes: float64(7), object(2)
memory usage: 40.2+ MB

In [37]:
# Create global_consumption
labels = ['sub_metering_1', 'sub_metering_2', 'sub_metering_3']
data['global_consumption'] = data[labels].sum(axis=1)

In [38]:
# Create X, y and save datetime in a separeted column
X = data.drop(columns=labels)
y = data[labels]
X.shape, y.shape

((527040, 7), (527040, 3))

In [39]:
X

,date,time,global_active_power,global_reactive_power,voltage,global_intensity,global_consumption
547596,1/1/2008,00:00:00,1.620,0.070,241.25,6.6,18.0
547597,1/1/2008,00:01:00,1.626,0.072,241.74,6.6,18.0
547598,1/1/2008,00:02:00,1.622,0.072,241.52,6.6,18.0
547599,1/1/2008,00:03:00,1.612,0.070,240.82,6.6,18.0
547600,1/1/2008,00:04:00,1.612,0.070,240.80,6.6,18.0
...,...,...,...,...,...,...,...
1074631,31/12/2008,23:55:00,0.484,0.064,247.69,2.2,0.0
1074632,31/12/2008,23:56:00,0.482,0.064,247.35,2.2,0.0
1074633,31/12/2008,23:57:00,0.482,0.064,246.99,2.2,0.0
1074634,31/12/2008,23:58:00,0.480,0.064,246.52,2.2,0.0
1074635,31/12/2008,23:59:00,0.482,0.062,246.97,2.2,0.0

In [40]:
dataset_start = datetime.datetime.strptime(X.date.iloc[0], '%d/%m/%Y').strftime('%Y-%m-%d')
dataset_end = datetime.datetime.strptime(X.date.iloc[-1], '%d/%m/%Y').strftime('%Y-%m-%d')

file_name = f"dataset_{dataset_start}_{dataset_end}.csv"
file_path = os.path.join(LOCAL_DATASET_PATH, file_name)
print(file_path)
X.to_csv(file_path, sep=',', encoding='utf-8', index=False)

../data/input_datasets/dataset_2008-01-01_2008-12-31.csv