In [28]:
import pandas as pd
import os
import datetime

LOCAL_DATASET_PATH = "../data/input_datasets"

In [30]:
# Take just a subset of the data for now (year==2008)
data = pd.read_csv('../data/household_power_consumption.txt', sep=';', na_values='?')
data = data[data.Date.str.endswith('2008')]
data.columns = data.columns.str.lower()
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 475023 entries, 1600236 to 2075258
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   date                   475023 non-null  object
 1   time                   475023 non-null  object
 2   global_active_power    457394 non-null  float64
 3   global_reactive_power  457394 non-null  float64
 4   voltage                457394 non-null  float64
 5   global_intensity       457394 non-null  float64
 6   sub_metering_1         457394 non-null  float64
 7   sub_metering_2         457394 non-null  float64
 8   sub_metering_3         457394 non-null  float64
dtypes: float64(7), object(2)
memory usage: 36.2+ MB

In [31]:
# Create global_consumption
labels = ['sub_metering_1', 'sub_metering_2', 'sub_metering_3']
data['global_consumption'] = data[labels].sum(axis=1)

In [32]:
# Create X, y and save datetime in a separeted column
X = data.drop(columns=labels)
y = data[labels]
X.shape, y.shape

((475023, 7), (475023, 3))

In [33]:
X

,date,time,global_active_power,global_reactive_power,voltage,global_intensity,global_consumption
1600236,1/1/2010,00:00:00,1.790,0.236,240.65,7.4,18.0
1600237,1/1/2010,00:01:00,1.780,0.234,240.07,7.4,18.0
1600238,1/1/2010,00:02:00,1.780,0.234,240.15,7.4,19.0
1600239,1/1/2010,00:03:00,1.746,0.186,240.26,7.2,18.0
1600240,1/1/2010,00:04:00,1.686,0.102,240.12,7.0,18.0
...,...,...,...,...,...,...,...
2075254,26/11/2010,20:58:00,0.946,0.000,240.43,4.0,0.0
2075255,26/11/2010,20:59:00,0.944,0.000,240.00,4.0,0.0
2075256,26/11/2010,21:00:00,0.938,0.000,239.82,3.8,0.0
2075257,26/11/2010,21:01:00,0.934,0.000,239.70,3.8,0.0
2075258,26/11/2010,21:02:00,0.932,0.000,239.55,3.8,0.0

In [34]:
dataset_start = datetime.datetime.strptime(data.date.iloc[0], '%d/%m/%Y').strftime('%Y-%m-%d')
dataset_end = datetime.datetime.strptime(data.date.iloc[-1], '%d/%m/%Y').strftime('%Y-%m-%d')

file_name = f"dataset_{dataset_start}_{dataset_end}.csv"
file_path = os.path.join(LOCAL_DATASET_PATH, file_name)
print(file_path)
data.to_csv(file_path, sep=',', encoding='utf-8')

../data/input_datasets/dataset_2010-01-01_2010-11-26.csv